.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  width: 100%;
  height: 30px;
  outline: 2px solid #282c34;
  margin-bottom: 5px;
  padding: 10px;
}

.textfield-container {
  width: 80%;
  height: 40%;
  /* outline: 2px solid #282c34; */
  margin: 20px;
  position: fixed; /* or absolute */
  top: 30%;
  left: 10%;
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.TextField {
  margin: 10px;
}

.searchbutton-container {
  width: 75%;
  /* outline: 2px solid #282c34; */
  position: fixed; /* or absolute */
  top: 50%;
  left: 12.5%;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.countries-container {
  /* outline: 2px solid #282c34; */
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 20px;
}

.errorMessage {
  color: red;
}
